/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root Variables */
:root {
    /* Primary Color: */
    --Dark-Blue: #003d99;

    /* Accent Colors: */
    --Orange: #FF6B00;
    /*(for buttons and call-to-action elements)*/

    --Dark-Gray: #4d4d4d;
    /*(for text and secondary elements)*/

    --Light-Gray: #f2f2f2;
    --White: #fff;
    /*(for backgrounds and borders)*/

    /* Secondary-Color: */
    --Sky-Blue: #0096b7;
    --Red: #ff4949;
    --Green: #49ff49;
    /*(for hover states and secondary buttons)*/

    /* Font Weights:  */
    --Regular: 400;
    --Medium: 500;
    --Bold: 700;

    /* Headings: */
    --H1: 30px;
    --H2: 24px;
    --H3: 18px;
    --Body-Text: 16px;
    --Small-Text: 12px;
}

/* Cursor GSAP */
.flair {
    width: 75px;
    height: 75px;
    position: fixed;
    top: 40px;
    left: 40px;
    pointer-events: none;
    z-index: 9999;
}

.flair img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Setup Animation for Landing Page */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--Light-Gray);
    backdrop-filter: blur(100px);
    opacity: 1;
    transition: opacity 1s ease;
    z-index: 10;
}

.logo-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 1;
    transition: transform 0.2s ease, opacity 0.8s ease;
    z-index: 20;
}

.logo {
    width: 75px;
    height: auto;
}

body.loaded .overlay {
    opacity: 0;
    pointer-events: none;
}

body.loaded .logo-wrapper {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 600px) {
    .flair img {
        visibility: hidden;
    }
}

@media (max-width: 800px) {
    .flair img {
        width: 50%;
        height: 50%;
    }
}

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--Body-Text);

    &::selection {
        background-color: #003d9955;
    }
}

body,
html {
    font-family: "Poppins", sans-serif;
    font-weight: var(--Regular);
    font-style: normal;
    background-color: var(--Light-Gray);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

/* Header for all pages */
header {
    width: 100% !important;
    padding: var(--Body-Text) var(--H1);
    background-color: var(--White);
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .logo img {
    height: 44px;
}

.main-nav button {
    background-color: transparent;
    border: 0;
    color: var(--Dark-Gray);
    transition: ease 0.5s;
    margin: 0 var(--Small-Text);

    &:hover {
        cursor: pointer;
        color: var(--Dark-Blue);
    }

    &:active {
        color: var(--Sky-Blue);
    }
}

#login-button {
    background-color: var(--Orange);
    color: var(--White);
    border-radius: var(--H1);
    padding: var(--Small-Text);
    transition: ease 0.25s;

    &:hover {
        color: var(--Dark-Blue);
        border: 1px solid var(--Dark-Blue);
    }
}

.hamburger {
    visibility: hidden;
    position: absolute;
}

@media (max-width: 800px) {
    .hamburger {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 18px;
        cursor: pointer;
        visibility: visible;
    }

    .hamburger .bar {
        width: 100%;
        height: 2.5px;
        background-color: var(--Dark-Blue);
        transition: 0.3s ease;
    }

    .main-nav {
        position: fixed;
        top: 60px;
        width: 100%;
        background-color: var(--Orange);
        color: var(--White);
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: left 0.3s cubic-bezier(0.23, 1, 0.320, 1);
        z-index: 1000;
    }

    .main-nav {
        transform: translateX(100%);
        transition: 0.3s;
    }

    .main-nav.active {
        transform: translateX(-3.8%);
        transition: 0.3s;
    }

    .main-nav button {
        margin: 8px 0;
        color: var(--White);
    }

    .main-nav a {
        text-align: center;
        width: 100%;
        border-top: var(--Dark-Gray) 1px solid;
    }

    #login-button {
        background: var(--Dark-Blue);
        color: var(--White);
        border-radius: var(--H1);
        padding: var(--Small-Text);
        transition: ease 0.25s;

        &:hover,
        &:active {
            color: var(--Dark-Blue);
            border: 1px solid var(--Dark-Blue);
        }
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
}


/* index.html */
.secondary-nav {
    display: flex;
    max-width: 1000px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.secondary-nav button {
    background-color: var(--Dark-Blue);
    color: var(--Light-Gray);
    border: 1.5px solid var(--Light-Gray);
    padding: var(--Small-Text) var(--Body-Text);
    border-radius: var(--H1);
    margin: 0 var(--Small-Text);
    transition: ease 0.5s;

    &:hover {
        cursor: pointer;
        color: var(--Orange) !important;
    }

    &#active {
        color: var(--Sky-Blue);
        background-color: var(--White);
    }
}

/* main-index - Landing Page */
.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* landing page card */
.main-index .card {
    background-color: var(--White);
    padding: 24px;
    border-radius: 8px;
    width: 100%;
    width: 1000px;
    margin: 24px auto;
    border: 1px solid var(--Dark-Blue);
}

.main-index .card .header {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.main-index .card .header li a {
    text-decoration: none;
    color: var(--Dark-Blue);
    background-color: var(--Light-Gray);
    padding: 10px 25px;
    border-radius: 10px 10px 0 0;

    &#active {
        color: var(--Orange);
        background-color: var(--Dark-Blue);
    }
}

.hero-image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    /* border-radius: var(--Body-Text) var(--Body-Text) 0 0; */
    transition: 0.3s;
}


#book-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Input Group */
.input-group {
    background-color: var(--White);
    padding: 5px 15px 10px 5px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--Sky-Blue);
    cursor: pointer;
    width: 75%;
    margin: 10px;
}

.input-group div {
    width: 100%;
}

.input-group img {
    margin-right: 8px;
    width: 24px;
}

.label {
    font-size: var(--Body-Text);
    color: var(--Dark-Blue);
    font-weight: var(--Bold);
}

#book-form input,
#book-form select {
    width: 100%;
    font-size: 14px;
    display: block;
    border: 0;
    margin-top: 6px;
    color: var(--Dark-Gray);
    background-color: var(--White);
    font-weight: 600;
    overflow: hidden;

    &:focus-visible {
        outline: none;
    }
}

/* Swap Button */
.swap-btn {
    width: 90px;
    height: 10px;
    border-radius: 50%;
    rotate: 90deg;
    cursor: pointer;
}



.swap-btn img {
    width: 80%;
}

/* Date and Quota Group */
.date-quota-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.date-quota-group .input-group {
    width: 50%;
}

/* Book Button */
.book-btn {
    display: block;
    margin: 15px auto 0;
    width: 100%;
    background-color: var(--Dark-Blue);
    color: var(--White);
    font-size: 16px;
    font-weight: 500;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    border: none;

    &:hover {
        background-color: var(--Dark-Blue);
    }
}

@media (max-width:1015px) {
    .secondary-nav {
        transform: scale(0);
        position: absolute;
    }

    .main-index .card,
    .main-index .container,
    .main-trains .container,
    .main-booking .card,
    .main-track-form .search_container,
    .main-train-track .container,
    .main-train-track .train-status-container {
        margin-top: 0 !important;
        padding-top: 0 !important;
        width: 100vw !important;
        border: 0 !important;
        background-color: transparent !important;
    }

    .input-group {
        background-color: transparent;
        width: 96%;
    }

    #book-form input,
    #book-form select {
        background-color: transparent;
    }

    #book-form {
        flex-direction: column;
    }

    .swap-btn {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: var(--White);
        padding: 25px;
        display: flex;
        justify-content: center;
        rotate: 0deg;
        align-items: center;
    }

    .main-index .carousel .card {
        filter: sepia(00);
    }
}

/* landing page services */
.main-index .container {
    text-align: center;
    padding: 0;
    max-width: 1000px;
}

.main-index .title {
    font-size: 24px;
    font-weight: 500;
    color: var(--Dark-Gray);
    margin: 24px 0;
}

/* Flexbox Styling */
.main-index .services-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Individual Service Card */
.main-index .service-card {
    background-color: var(--White);
    border: 1px solid var(--Dark-Blue);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    width: 150px;
    cursor: pointer;
}

.main-index .service-card:hover {
    transform: translateY(-5px);
}


.main-index .icon-wrapper img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.main-index .service-card p {
    font-size: 16px;
    color: var(--Dark-Gray);
    font-weight: 400;
}

/* Responsive Design */
@media (max-width: 1015px) {
    .main-index .container {
        padding: 0;
    }

    .main-index .service-card {
        width: 120px;
    }
}

@media (max-width: 480px) {
    .main-index .service-card {
        width: 100%;
    }
}

/* Carousel Cards */
.carousel {
    max-width: 1000px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
}

.carousel .card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    min-width: 150px;
    max-width: 330px;
    height: 400px;
    filter: brightness(0.75) sepia(0.5);
    transition: 0.75s ease;

    &:hover {
        filter: brightness(1) sepia(0);
        cursor: pointer;
    }
}

.carousel .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.carousel .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: var(--White);
    color: var(--Dark-Blue);
}

.carousel .card-content h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--Orange);
}

.carousel .card-content p {
    font-size: 16px;
    margin: 10px 0;
}

/* Train List Page */
.main-trains {
    margin: 40px auto 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-trains .container {
    width: 90%;
    margin: 10px 0;
    max-width: 1000px;
    border-radius: 20px;
    border: 2px solid var(--Dark-Gray);
    background-color: var(--White);
}

/* Header */
.main-trains .header {
    color: var(--White);
    background-color: var(--Dark-Blue);
    padding: 16px;
    border-radius: 18px 18px 0px 0px;
}

.main-trains .header h1 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

/* Station Info */
.main-trains .station-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    padding-bottom: 0;
}

.main-trains .station-info h2 {
    font-size: 20px;
    color: var(--Dark-Blue);
    font-weight: 600;
}

.main-trains .station-info p {
    font-size: 14px;
    color: var(--Dark-Gray);
    margin: 0;
}

/* Date Selector */
.main-trains .date-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Dark-Blue);

    &:hover {
        cursor: pointer;
    }
}

/* Train List */
.main-trains .train-list {
    padding: 30px;
}

.main-trains .train-item,
.main-booking .card {
    background-color: var(--Light-Gray);
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 12px;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-8px);
    }
}

.train-item h3 {
    font-size: 18px;
    font-weight: var(--Bold);
    border-bottom: 2px solid var(--Dark-Blue);
}

.main-trains .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.main-trains .seats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 16px;
    gap: 20px;
}

.main-trains .seats .seat-card {
    padding: 6px 24px;
    color: var(--Dark-Blue);
    border-radius: 10px;
    border: 1px solid var(--Dark-Blue);
    transition: 0.3s ease;

    &:hover {
        cursor: pointer;
        scale: 0.95;
    }

    &#selected {
        background-color: var(--Dark-Blue);
        scale: 0.95;
        border: 0;
        color: var(--White);
    }
}

.main-trains .seats div {
    text-align: center;
}

.main-trains .text-red {
    color: var(--Red);
    font-weight: 500;
}

.main-trains .text-green {
    color: var(--Green);
    font-weight: 500;
}

.main-trains .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--Dark-Blue);
    color: var(--White);
    border-radius: 0px 0px 18px 18px;
}

.main-trains .footer button {
    background-color: var(--Orange);
    color: var(--White);
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s ease;

    &:hover {
        opacity: 0.9;
    }
}

/* Sidebar of Train List */
.main-trains {
    display: flex;
    gap: 20px;
}

.main-trains .sidebar {
    width: 250px;
    background-color: var(--Sky-Blue);
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    position: fixed;
    top: 125px;
    left: -280px;
    z-index: 10;
}

.main-trains .sidebar.open {
    transform: translateX(290px);
}

.main-trains .toggle-btn {
    background-color: var(--Sky-Blue);
    color: var(--Light-Gray);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    top: 80px;
    left: 10px;
    z-index: 20;
    transition: ease 0.2s;

    &:hover {
        opacity: 0.75;
    }
}

.main-trains h2 {
    font-size: 18px;
    color: var(--White);
    margin-bottom: 12px;
    border-bottom: 2px solid var(--Dark-Blue);
    padding-bottom: 6px;
}

.main-trains label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    color: var(--Light-Gray);
    cursor: pointer;
}

.main-trains input[type="checkbox"] {
    cursor: pointer;
}

.main-trains .sidebar select {
    width: 100%;
    padding: 8px;
    border: 2px solid var(--Dark-Blue);
    border-radius: 4px;
    margin-bottom: 12px;
    font-size: 14px;
    color: var(--White);
    background-color: var(--Dark-Blue);

    &:focus-visible {
        border: 2.5px solid var(--Dark-Blue);
    }
}

.main-trains .apply-btn {
    background-color: var(--Orange);
    color: var(--White);
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: ease 0.2s;

    &:hover {
        opacity: 0.9;
    }
}

/* Main Booking Page */
.main-booking .wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.main-booking .card {
    max-width: 1000px;
    width: 90%;
    border: 1px solid var(--Dark-Gray);
    background-color: var(--White);
}

.main-booking .card div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-booking .card h2,
.main-booking .card h3 {
    font-weight: 600;
    color: var(--Orange);
}

.main-booking .card .change {
    display: flex;
    justify-content: flex-start;
}

.main-booking .card select {
    border: 0;
    /* margin-bottom: 15px; */
    color: var(--Dark-Blue);
    width: 150px;
    padding-right: 15px;

    &:hover {
        cursor: pointer;
    }
}

.main-booking .inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.main-booking input {
    background-color: transparent;
    border: 0;
    margin-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--Orange);
}

.main-booking .card .radios div {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.main-booking .card .title button {
    padding: 10px 25px;
    border: 0;
    background-color: var(--Orange);
    color: var(--White);
    border-radius: 25px;
    transition: 0.2s ease;

    &:hover {
        cursor: pointer;
        opacity: 0.75;
        border: 0;
    }
}

@media (max-width: 480px) {
    .main-booking .card div {
        display: flex;
        flex-wrap: wrap;
    }

    .main-booking .card .radios {
        display: flex;
        flex-direction: row;
    }

    .main-booking .card .radios div {
        display: flex;
        align-items: center;
        gap: 2px;
        flex-direction: row;
    }

    .main-booking .card .inputs input,
    .main-booking .card .inputs select {
        width: 100%;
    }
}

/* Tracking Train Pages */

.main-track-form {
    background-color: var(--Light-Gray);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-track-form .search_container {
    background-color: var(--White);
    padding: 16px;
    border: 1px solid var(--Dark-Gray);
    border-radius: 8px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 1000px;
}

.main-track-form .search_type {
    font-size: 18px;
    font-weight: 700;
    color: var(--Dark-Blue);
    margin-bottom: 10px;
}

.main-track-form .title_label {
    font-size: 14px;
    color: var(--Dark-Gray);
    margin-bottom: 6px;
}

.main-track-form .form-group {
    display: flex;
    align-items: center;
    position: relative;
}

.main-track-form .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--Dark-Blue);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    color: var(--Dark-Gray);

    &:focus {
        border-color: var(--Sky-Blue);
    }
}

.main-track-form .btn {
    background-color: var(--Orange);
    color: var(--White);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s ease;

    &:hover {
        opacity: 0.75;
        border: none !important;

        color: var(--White) !important;
    }
}

.main-track-form .or hr {
    margin: 0 0 25px 0;
}

.main-track-form .or p {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    padding: 5px;
    background-color: var(--Light-Gray);
    margin-top: -17.5px;
}

.main-train-track .container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--White);
    border: 2px solid var(--Dark-Gray);
    border-radius: 8px;
}

/* Flexbox styling for alignment */
.main-train-track .select-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.main-train-track .select-box {
    flex: 1;
}

.main-train-track label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: var(--Dark-Gray);
}

.main-train-track select,
.main-train-track button {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--Dark-Gray);
    border-radius: 6px;
    font-size: 16px;
}

/* Button styling */
.main-train-track button {
    background-color: var(--Dark-Blue);
    color: var(--White);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Responsive Design */
@media (max-width: 800px) {
    .main-train-track .select-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-train-track .select-box {
        width: 100%;
    }

}

.main-train-track .train-status-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--White);
    border: 2px solid var(--Dark-Gray);
    border-radius: 8px;
}

/* Train Update Section */
.main-train-track .train-update {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.main-train-track .train-update__wrap {
    flex-grow: 1;
}

.main-train-track .train-update__status {
    font-size: 18px;
    font-weight: 500;
    color: var(--Dark-Blue);
}

.main-train-track .train-update__time {
    font-size: 14px;
    color: var(--Dark-Gray);
}

/* Running Status Section */
.main-train-track .running-status {
    margin-top: 20px;
}

.main-train-track .station-row {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid var(--Dark-Gray);
}

.main-train-track .station-grid {
    flex: 2;
}

.main-train-track .station-info,
.main-train-track .station-time {
    flex: 1;
    text-align: center;
}

.main-train-track .status-icon {
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 4px;
}

.main-train-track .status-icon.delay {
    background-color: var(--Red);
    color: var(--Light-Gray);
}

.main-train-track .status-icon.on-time {
    background-color: var(--Dark-Blue);
    color: var(--White);
}

.main-train-track .station-name {
    font-size: 16px;
    font-weight: 500;
    color: var(--Dark-Gray);

    &.active {
        color: var(--Sky-Blue);
        animation: infinite alternate blink 0.5s;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Responsive Design */
@media (max-width: 800px) {
    .main-train-track .station-info {
        scale: 0;
    }
}




/* Footer for all pages */
footer {
    width: 100%;
    margin-top: var(--H1);
    background-color: var(--Dark-Blue);
    padding: var(--Medium);
    color: var(--Orange);
    font-size: var(--Small-Text);
    font-weight: 300;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    padding: var(--Body-Text) var(--H1);
    gap: var(--Medium);
    justify-content: space-between;
}

.footer-links div {
    display: flex;
    flex-direction: column;
    gap: var(--Small-Text);
    width: 150px;
    margin: var(--Small-Text);
}

.footer-links button {
    background: none;
    color: var(--Light-Gray);
    font-weight: 100;
    border: none;
    border-bottom: 1px solid var(--Orange);
    margin: 5px;
    padding: 5px;
    font-size: var(--Body-Text);
    text-align: left;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
        color: var(--Orange);
    }
}